body{
    background-color: rgb(247, 247, 235);
}
.post{
    width: 600px;
    height: 600px;
    margin:auto;
    margin-top: 30px;
    align-items: center;
    background-color: rgb(162, 179, 255);
}
.icons{
    padding-top: 10px;
}
.header{
    padding:5px;
    display:flex;
    height: 40px;
}
.headerIcon{
    margin-left: 490px;
    margin-top: 10px;  
}
.fa-html5{
   font-size: 30px;
   padding-top: 5px;
   margin-right: 5px;
}
.fa-bookmark{
    font-size: 20px;
    float:right;
}